.about h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}
.info {
  display: flex;
  margin-top: 60px;
  padding: 0 40px;
}
.info span {
  font-size: 3rem;
  font-weight: 500;
}
.info p {
  font-size: 1rem;
  margin-top: 30px;
  text-align: justify;
  color: #1f1f1f;
}
.first,
.second {
  padding-right: 25px;
}
.desc {
  margin-top: 60px;
  padding: 0 40px;
  text-align: center;
  color: #1f1f1f;
}
